
body{
	background: #ccc;
}

header{
	padding: 30px;
	background: #DAA520;
	border-bottom: 3px solid #000;

}

#area-login{

	width: 60%;
	background: darkgrey;
	padding: 10px 20px;
	border: 3px solid ;
}

#area-login form label{
	font-size: 1.3 ren;

}
.btn-entrar button {
	background: white;
}
.menu button{

	display:block;
	width: 300px;
	margin: 10px auto;
	box-shadow: 1px 1px 10px;
	-webkit-box-shadow: 1px 1px 10px;
	-moz-box-shadow: 1px 1px 10px;
	background: white;

}

